repository:
  name: docker-local-aws-lambda
  description: Learn to build and develop AWS Lambda functions locally with Docker
  homepage: https://github.com/daemon-labs-resources/docker-local-aws-lambda
  topics: daemon-labs, daemon-labs-resources, docker-local-aws-lambda
  private: false
  has_issues: true
  has_projects: false
  has_wiki: false
  has_downloads: false
  default_branch: main
  allow_squash_merge: true
  allow_merge_commit: true
  allow_rebase_merge: true
  delete_branch_on_merge: true
  enable_automated_security_fixes: true
  enable_vulnerability_alerts: true
teams:
  - name: daemonites
    permission: admin
rulesets:
  - name: Prevent destruction of the default branch
    target: branch
    enforcement: active
    conditions:
      ref_name:
        include:
          - "~DEFAULT_BRANCH"
        exclude: []
    rules:
      - type: deletion
      - type: non_fast_forward
